# Because dotfiles tend to contain machine-specific or even sensitive information, ignore them by default.
.*

# Some dotfiles are important to commit
!.gitignore
!.gitattributes
!.github

# Logs and databases
*.log
